@page "/cadastrar-cliente"
@rendermode InteractiveServer

@using Clientes.Api.Components.Shared
@using Clientes.Api.Domain.Dto
@using Clientes.Api.Domain.Enum
@using Clientes.Api.Service
@using Clientes.Api.Extensions

@using Blazored.Toast.Configuration
@using Newtonsoft.Json
@using System.Text

@inject IClienteService clientService
@inject NavigationManager NavigationManager
@inject IToastService toastService

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="10"
                IconType="IconType.Material"
                SuccessIcon="done_outline"
                WarningIcon="warning"
                ShowProgressBar="true" />

<h2>Cadastro de Clientes</h2>
<ClientForm Cliente="@ClienteDto" GerenciarCliente="@AdicionarCliente" />

@code {
    private CreateClienteDto ClienteDto = new CreateClienteDto();

    private void AdicionarCliente()
    {
        try
        {
            clientService.CadastraCliente(ClienteDto);
            NavigationManager.NavigateTo("/");
        }
        catch (Exception ex)
        {
            if (ex.Message.Contains("ErroCadastro"))
            {
                var jsonErroString = ex.Message.Split(";")[1];
                var errors = JsonConvert.DeserializeObject<List<string>>(jsonErroString);
                foreach (var error in errors!)
                {
                    toastService.ShowError(Encoding.UTF8.GetString(Encoding.Default.GetBytes(error)));
                }
            } 
            else
            {
                toastService.ShowError(ex.Message);
            }
        }
    }
}



